<div class="container">
    <div class="register-wr">
        <div class="register-frm">
<h2>Create New Account</h2>
<div class="inp-wr">
    <i class="fa fa-user"></i>
    <input type="text" placeholder="Username">
</div>
<div class="inp-wr">
    <i class="fa fa-envelope"></i>
    <input type="email" placeholder="Email">
</div>
<div class="inp-wr">
    <i class="fa fa-lock"></i>
    <input type="password" placeholder="Password">
</div>
<div class="check-wr">
<input type="checkbox"><span>I read and agree to Terms & Conditions</span>
</div>
<div class="create-ac">
    <button>Create Account</button>
</div>
        </div>
        <div class="register-info">
<div class="reg-ii">
    <h3>Hello World</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, nulla. Corporis ex sapiente rem minus officiis, quisquam error mollitia. Suscipit.</p>
    <button>learn more</button>
</div>
        </div>
    </div>
</div>