.product span{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width: 280px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.product{
    width: 100%;
    margin:10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid gray;
    padding:10px;
    margin:10px 10px;
}
.product:hover{
    background:gainsboro;
}
.product img{
    width: 100%;
    height: 200px;
}
.product button{
    background:#fff;
    border: 2px solid rgb(20, 20, 28);
    color:rgb(20, 20, 28);
    border-radius: 4px;
}
.product button:hover{
    background:rgb(20, 20, 28);
    color:#fff;
}
.product p{
    margin:10px 0;
}
@media(max-width:575px){
    .product{
        width: 75%;
        margin:10px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border:1px solid gray;
        padding:10px;
        margin-left: 30px;
    }
    .product img{
        width: 75%;
        height: 200px;
        margin-left: 30px;
    }
}
