<div class="login3">
    <div class="top-right">
    </div>
    <div class="bottom-left">
    </div>
    <div class="wr">
        <div class="left-im">
            <img src="/assets/images/girl.png">
        </div>
       
        <div class="login-con">
            <h4 class="lb">Login</h4>
            <div class="bru"></div>
            <div class="form-group">
                <label>Username</label>
                <input class="form-control" type="text">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password">
            </div>
            <div class="check-wr">
                <input type="checkbox">
                <span>Remember me</span>
            </div>
            <button class="sign-in-btn">Sign in</button>
            <p class="don-ac">Don't have an account?<span>Sign up</span></p>
            <div class="log-with">
                <label>Login with social media</label>
                <div class="social">
                    <div class="circle active">
                        <i class="fa fa-facebook"></i>
                    </div>
                    <div class="circle">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <div class="circle">
                        <i class="fa fa-instaram"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>