<h1 *ngIf="carts.length==0">
    Your cart is empty
</h1>
<a *ngIf="carts.length==0" routerLink="../products">Home</a>
<table *ngIf="carts.length>0" class="table">
    <thead>
<tr>
    <th id="image">product image </th>
    <th id="name">product name</th>
    <th id="price">product price</th>
    <th id="qty">product quantity</th>
    <th id="tc">total cost</th>
</tr>
    </thead>
    <tbody>
<tr *ngFor="let cart of carts">
    <td data-label="product image" id="image"><img src="{{cart.data.image}}"></td>
    <td data-label="product name" id="name"><p>{{cart.data.name}}</p></td>
    <td data-label="product price" id="price">${{cart.data.price}}</td>
    <td data-label="product qty" id="qty">
        <div class="qt-wr">
        <span id="decr" (click)="decrement(cart)">-</span>{{cart.data.qty}}<span id="incr" (click)="increment(cart)">+</span>
        </div>
    </td>
            <td data-label="total cost" id="tc">${{cart.data.price*cart.data.qty}}</td>

</tr>
<tr class="cua"><td class="ept"></td><td class="ept"></td><td class="ept"></td>
    <td id="po">total amount to pay</td>
<td id="po">${{total_cost|number:'1.2-2'}}</td></tr>

<tr class="cua"><td class="ept"></td><td class="ept"></td><td class="ept"></td><td class="ept"></td><td><button id="place" class="btn btn-sm btn-success" routerLink="../placeorder">place order</button></td></tr>
    </tbody>
</table>
