<div class="bg">
<div class="container">
    <div class="wr">
        <div class="reg-fr">
<label>Hello,Friend!</label>
<div class="inp-wr">
    <i class="fa fa-user"></i>
    <input type="text" placeholder="Name">
</div>
<div class="inp-wr">
    <i class="fa fa-lock"></i>
    <input type="password" placeholder="Password">
</div>
<div class="inp-wr">
    <i class="fa fa-envelope"></i>
    <input type="email" placeholder="Email">
</div>
<div class="check-wr">
    <input type="checkbox"><span>I read and agree to Terms & Conditions</span>
    </div>
    <div class="create-ac">
        <button>Create Account</button>
    </div>
        </div>
        <div class="reg-cont">
            <h1>Vibecoder</h1> 
            <h2>Glad to see you!</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing</p>
            <div>
                <img src="/assets/images/reg3-logo.png">
            </div>
        </div>
    </div>
</div>
</div>